@import url("https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap");

body {
  background-image: url(./assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.logo {
  position: absolute;
  width: 10%;
  width: 10%;
  left: 2%;
  transition: all 1s ease-out;
}
.logo-git:hover {
  transform: scale(1.1);
}

.input-group {
  text-align: center;
  margin: 20px 0;
}

.logo-git {
  width: 5%;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.audio {
  width: 2.5%;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2%;
  transition: all 0.3s ease-out;
}
.audio:hover {
  transform: scale(1.05);
}
* {
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mascot {
  position: absolute;
  width: 20%;
  bottom: 10px;
  left: 10px;
  animation: myAnim 4s ease-out 0.3s infinite normal none;
}

.container {
  max-width: 935px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-3deg);
  }

  30% {
    transform: translateX(15px) rotate(3deg);
  }

  45% {
    transform: translateX(-15px) rotate(-2.6deg);
  }

  60% {
    transform: translateX(6px) rotate(1.4deg);
  }

  75% {
    transform: translateX(-3px) rotate(-1.2deg);
  }
}
