.numberTitle {
  background-color: #ebbe70;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  display: block;
  text-align: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.numberTitle:hover{
  background-color: #fabb51;
  text-decoration: underline;
}
.mainList{
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  background-color: rgba(229, 193, 145, 0.5);
  width: 80%;
}

.title {
  font-size: 29px;
  text-align: center;
  margin-top: 4%;
}
.input {
  background-color: #dfb989;
  border-color: rgba(117, 98, 74, 0.884);
  font-size: 15px;
  resize: none;
  width: 60%;
  outline: none;
  margin-top: 10px;
  padding-left: 15px;
  transition: outline 0.3s ease-out;
  outline: solid 1px rgba(53, 35, 1, 0.8);
}
.input::placeholder {
  font-size: 15px;
  color: #7a7171;
  padding-left: 10px;
}
.input:hover {
  outline-width: 4px;
}

.history {
  cursor: pointer;
  position: absolute;
  width: 5%;
  top: 7%;
  right: 12%;
  transition: all 1s ease-out;
}
.history:hover {
  transform: scale(1.2);
}
.mainb {
  cursor: pointer;
  border-radius: 15px;
  width: 136px;
  height: 47px;
  font-size: 22px;
}
.group-mode {
  margin-left: 10px;
  background-color: #fabb51;
}
.group-mode:hover {
  background-color: #ffd39a;
  text-decoration: underline;
}
.reset {
  margin-left: 20px;
  background-color: #e96c3a;
}
.reset:hover {
  background-color: rgb(241, 151, 128);
  text-decoration: underline;
}
.addValue {
  background-color: rgb(82, 118, 196);
}
.addValue:hover {
  background-color: #4586db;
  text-decoration: underline;
}

.lucky-mode {
  margin-right: 10px;
  background-color: #219f94;
}
.lucky-mode:hover {
  background-color: #54bab9;
  text-decoration: underline;
}

.lucky-box {
  position: relative;
  text-align: center;
  min-width: 80%;
  padding: 2em 0;
  background-image: url("./assets/img/wood.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 92% 95%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(202, 170, 129, 0.884);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 80, 7, 0.884);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(218, 129, 13, 0.884);
}
