@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');
body{
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 92vw;
    height: 92vh;
    position: relative;
    background-position: center;
}
.chooseNumbeGroup{
  text-align: center;
  justify-items: center;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 50%;
  position: absolute;
  right: 24%;
  top: 25%;
  background-image: url(./assets/wood.png);
}
.audio{
  cursor: pointer;
  position: absolute;
   right: -7%;
   top: 2%;
   transition: all .3s ease-out;
}
.audio:hover{
  transform: scale(1.05);
}
*{
  font-family: 'Prompt', sans-serif;
}
.title-modal-lucky{
  position: relative;
  background-color: #dfb989;
  width: 70%;
  left: 15%;
  border-radius: 15px;
}
.lucky-N{
  font-size: 40px;
  margin-top: 10%;
}
.modal-bg{
  position: fixed;
  background-color: rgba(0, 0 , 0 , 0.7);
  left: 0;
  top: 0;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.modal-bg-group{
  position: fixed;
  background-color: rgba(0, 0 , 0 , 0.7);
  left: 0;
  top: 0;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.modal-content{
  text-align: center;
  justify-items: center;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 50%;
  position: absolute;
  right: 24%;
  top: 25%;
  background-image: url(./assets/wood.png);

}
.button {
  position: absolute;
  bottom: 16%;
  left: 44%;
}
.group-mode{
  border-radius: 15px;
  width: 149px;
  height: 50px;
  margin-left: 10px;
  font-size: 24px;
  background-color: #fabb51;
}
.group-mode:hover{
  background-color: #ffd39a;
  text-decoration: underline;
}
.reset{
  border-radius: 15px;
  width: 149px;
  height: 50px;
  margin-left:20px;
  font-size: 24px;
  background-color: #e96c3a;
}
.reset:hover{
  background-color: rgb(241, 151, 128);
  text-decoration: underline;
}
.addValue{
  border-radius: 15px;
  width: 149px;
  height: 50px;
  margin-left: 10px;
  font-size: 24px;
  background-color: rgb(82, 118, 196);
}
.addValue:hover{
  background-color: #4586db;
  text-decoration: underline;
}

.lucky-mode{
  border-radius: 15px;
  width: 149px;
  height: 50px;
  margin-right: 10px;
font-size: 24px;
background-color: #219f94;
}
.lucky-mode:hover{
  background-color: #54bab9;
  text-decoration: underline;
}
.input{
  background-color: #dfb989;
  border-color: rgba(117, 98, 74, 0.884);
  font-size: 16px;
  resize: none;
  position: absolute;
  top: 32%;
  width: 30%;
  height: 30%;
  left: 39.3%;
  outline: none;
  padding-left: 15px;
}
.input::placeholder{
  padding-left: 10px;
}

.title{
  font-size: 200%;
  position: absolute;
  text-align: center;
  right: 38%;
  top: 20%;
  transition: all 0.3s ease-out;
}
.title:focus{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
}
.mascot{
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 0;
    animation: myAnim 4s ease-out 0.3s infinite normal none;
}

.logo-git{
    width: 5%;
position: absolute;
right: -100px;
bottom: 0;
}
.logo{
    position: absolute;
    width: 10%;
    width: 10%;
    left: 2%;
    transition: all .3s ease-out;
}

.logo-git:hover{
    transform: scale(1.05);
}
.wood{
background-repeat: no-repeat;
background-position: center;
width: 50%;
position: absolute;
right: 20%;
top: 20%;
}
.addReset-button{
  position: absolute;
  bottom: 26%;
  left: 43.3%;
  
}
.modal-lucky-again{
  width: 25%;
  height: 10%;
  left: 20%;
  bottom: 10%;
  position: absolute;
  border-radius: 15px;
  font-size: 24px;
  text-align: center;
  padding-bottom: 5%;
  background-color: #65be92;
}
.modal-lucky-again:hover{
  text-decoration: underline;
  background-color: #099c53;
 
}

.modal-lucky-ok{
  width: 25%;
  height: 10%;
  right: 20%;
  bottom: 10%;
  position: absolute;
  border-radius: 15px;
  font-size: 24px;
  text-align: center;
  padding-bottom: 5%;
  background-color: #e9b2af;
}
.modal-lucky-ok:hover{
  text-decoration: underline;
  background-color: #f38d86;
}
.numberGroup{
  position: absolute;
 font-size: 23px;
 top: 32%;
 left: 24%;
}
.no-less{
  position: absolute;
  font-size: 23px;
  top: 49.5%;
  left: 24%;
}
.inputNumberG{
  text-align: center;
  position: absolute;
  top: 32%;
  right: 27.5%;
  width: 7%;
  border-radius: 15px;
}
.Group-no-less{
  top: 40%;
  right: 27.5%;
  position: absolute;
  text-align: center;
  margin-top: 5%;
  width: 7%;
  border-radius: 15px;
}

@keyframes myAnim {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
  
    30% {
      transform: translateX(15px) rotate(6deg);
    }
  
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
  
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
  
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(202, 170, 129, 0.884);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 80, 7, 0.884);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(218, 129, 13, 0.884);
}